# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Additional files to ignore
*.log
*.log.gz
*.db
*.sqlite
*.h2.db
*.lock
*.mv.db
*.trace.db
*.script
*.lobs
.DS_Store
Thumbs.db
application-dev.properties
application-prod.properties
.env
*.hprof
*.heapdump
*.dump
logs/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/maven.xml
.idea/**/modules.xml
.idea/**/scopes/
.idea/**/vcs.xml
.idea/**/encodings.xml
.idea/**/compiler.xml
.idea/**/jarRepositories.xml
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar